<!DOCTYPE html>

<html>
<head>
<title>EstablishAccount</title>
<div class="container">
	<form action="/ad/establishaccount" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{"UserID"}}: </label>
            <div class="col-md-5">
               <input type="text" value="5" class="form-control" name="UserId" required>
            </div>
			<label class="col-md-3 control-label">{{"Name"}}: </label>
			<div class="col-md-5">
				<input type="text" value="Beams" class="form-control" name="Uname" required>
            </div>
            <label class="col-md-3 control-label">{{"password"}}: </label>
			<div class="col-md-5">
				<input type="password"  value="123456" class="form-control" name="Upassword" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{ "submit"}}</button>
            </div>
        </div>
    </form>
</div>
  <script src="/static/js/reload.min.js"></script>
</body>
</html>
