<!DOCTYPE html>

<html>
<head>
<title>Welcome</title>
<div class="container">
	<form action="/login" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{"usernumber"}}: </label>
            <div class="col-md-5">
               <input type="text" value="1" class="form-control" name="usernumber" required>
            </div>
			<label class="col-md-3 control-label">{{"password"}}: </label>
			<div class="col-md-5">
				<input type="password" value="red" class="form-control" name="password" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{ "Role"}}: </label>
            <div class="col-md-5">
                <select class="form-control" name="role">
                    <option value="User">{{ "User"}}</option>
                    <option value="Admin">{{ "Admin"}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{ "登录"}}</button>
            </div>
        </div>
    </form>
</div>
  <script src="/static/js/reload.min.js"></script>
</body>
</html>
