<!DOCTYPE html>

<html>
<head>
<title>Transfer</title>
<div class="container">
    <form action="/us/transfer" method="post" class="form-horizontal">
        <label class="col-md-3 control-label">{{"Brand"}}: </label>
        <div class="form-group">
            <div class="col-md-5">
                <select class="form-control" name="Brand">
                    <option value="CCB">{{ "CCB"}}</option>
                    <option value="BOC">{{ "BOC"}}</option>
                    <option value="ICBC">{{ "ICBC"}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{"CardNum"}}: </label>
            <div class="col-md-5">
               <input type="text" value="20151003030" class="form-control" name="CardNum" required>
            </div>
            <label class="col-md-3 control-label">{{"Password"}}: </label>
			<div class="col-md-5">
				<input type="password"  value="123456" class="form-control" name="Upassword" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{ "submit"}}</button>
            </div>
        </div>
    </form>
</div>
  <script src="/static/js/reload.min.js"></script>
</body>
</html>
