<!DOCTYPE html>
<html>
<head>
<title>Deposit</title>
<div class="container">
    <form action="/us/usdeposit" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{"Money"}}: </label>
			<div class="col-md-5">
				<input type="text"  value="1000" class="form-control" name="Money" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{ "submit"}}</button>
            </div>
        </div>
    </form>
</div>
  <script src="/static/js/reload.min.js"></script>
</body>
</html>
