<!DOCTYPE html>
<html>
<head>
<title>Withdrals</title>
<div class="container">
    <div class="author">
        OverDraft:
        <a name="OverDraft {{.OverDraft}}">{{.OverDraft}}</a> 
        Remain:
        <a name="{{.Remain}}">{{.Remain}}</a> 
    </div>
    <form action="/us/uswithdrals" method="post" class="form-horizontal">
        <div class="form-group">
			<div class="col-md-5">
                Money：
				<input type="text"  value="1000" class="form-control" name="Money" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{ "submit"}}</button>
            </div>
        </div>
    </form>
</div>
  <script src="/static/js/reload.min.js"></script>
</body>
</html>
